.App {
  text-align: center;
}

.App-header {
  background-color: #171d2b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.container{
  max-width: 1200px;
  min-height: 200px;
 
}

.controll{
   margin: 25px;
}
.chuck{
  color: orange;
}

.chuck {
  color: rgb(233, 140, 0);
  -webkit-animation: random 10s infinite;
  animation: random 30s infinite;
}
@keyframes  random {
 15% { color: rgb(189, 93, 4); } 
 30% { color: rgb(235, 76, 28); } 
 45% { color: rgb(226, 55, 3); } 
 60% { color: rgb(204, 143, 12); }
 75% { color: rgb(194, 51, 51); }  
}
